.static {
    display: none;
  }
body{
    background-color: #b3c7f7;
    color:black
}
span{
    display:inline-block;
}
h1{
    font-size:35px;
    font-family:'Ubuntu', serif;    
    text-align: center;
}
img{
    border: 5px solid black;
    border-top-right-radius:30px;
}
img:hover{
    border-color: white;
}
h2{
    text-align:center;
    font-size: 18px;
    font-family:'Ubuntu', serif;    
    color:darkred
}
img{
    display:block;
    margin:auto;
}
p{
    text-align:center;
    font-family:'Ubuntu', serif;    
}
div .gallery{
    margin:auto;
    display:grid;
    justify-content:center;
    align-items:space-between;
    grid-column-gap: 40px;
    grid-row-gap:20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
div .gallery :nth-child(1){
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
div .gallery :nth-child(2){
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
div .gallery :nth-child(3){
    grid-row: 3 / 3;
    grid-column: 1 / 1;
}
div .gallery :nth-child(4){
    grid-row: 4 / 4;
    grid-column: 1 / 1;
}
h3{
    padding-top:5%;
    text-align:center;
    font-family:'Ubuntu', serif;    
    color:darkslategrey;
}
ul{
    list-style:circle;
}

ol{
    list-style:decimal;
}
li{
    font-family:'Ubuntu', serif;    
    display: list-item;
    margin-left:20px;
}
#jump{
    display:none;
}
#current{
    display: table;
    background-color: yellow;
    font-style:italic;
}

@media only screen and (min-width: 800px){
    nav{
    text-align:center;
    background-image:url("../images/water_background_two.jpg");
}
#jump{
    display:block;
    padding-bottom:15px;
}
h1{
    padding-bottom:20px;
}
h2{
    padding:15px;
    font-size:20px;
}
h3{
    padding:15px;
}
p{
    padding:15px;
}
#current{
    display:inline;
}
#navigation li{
    display:inline;
    margin-top:15px;
}
div .gallery{
    margin:auto;
    display:grid;
    justify-content:center;
    align-items:space-between;
    grid-column-gap: 40px;
    grid-row-gap:20px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
}
div .gallery :nth-child(1){
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
div .gallery :nth-child(2){
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}
div .gallery :nth-child(3){
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
div .gallery :nth-child(4){
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
.static {
    display: none;
  }
}

@media only screen and (min-width: 1080px){

h1{
    font-size:35px;
    font-family:'Ubuntu', serif;    
    text-align: center;
}
h2{
    text-align:left;
    font-size: 23px;
    font-family:'Ubuntu', serif;    
    text-decoration: underline;
    color:darkred
}
h3{
    font-size: 18px;
    text-align:left;
   
}
p{
    text-align:left;
    line-height:125%;
}

.mainpic{
    display:inline-block;
    text-align:left;
}


nav a{
    padding:1px;
    margin: 20px;
}


#jump{
    margin-top:-20px;
}
#jump:focus{
    margin-top: 0px;
    border-radius:10px;
    border-color:black;
}


div .gallery{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

div .gallery :nth-child(1){
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
div .gallery :nth-child(2){
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}
div .gallery :nth-child(3){
    grid-row: 1 / 1;
    grid-column: 3 / 3;
}
div .gallery :nth-child(4){
    grid-row: 1 / 1;
    grid-column: 4 / 4;
}
span{
    display:block; 
}
.static {
    display: none;
  }
}


@media (prefers-reduced-motion: reduce) {
    * {
      animation: none;
      transition: none;
    }
    .gif {
      display: none;
    }
    .static {
      display: block;
    }
  
  }